div[aria-label="Servers"] , nav[aria-label="Servers sidebar"]{
display: none;
}

div.container-2o3qEW {
display: none;
}
.modeSelected-3DmyhH .content-1gYQeQ, .content-1gYQeQ {
background-color: unset !important;
}

.unreadTop-1DJtGv.unread-XRkyaQ.container-1qIct8, .unreadBottom-3Ojk6R {
display: none;
}

.newMessagesBar-1hF-9G.barBase-3xxDXu {
display: none;
}
::-webkit-scrollbar {
width: 20px !important;
}
.drag-previewer {
filter: unset !important;
}

